<main role="main" class="container">
  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">
      Recent updates ({{ today | date }})
    </h6>

    <span *ngFor="let user of users" routerLink="/posts/{{ user.id }}"
      class="badge badge-primary mr-2">{{ user.name }}</span>
    <hr />
    <input class="form-control mr-sm-2" [(ngModel)]="filterText" type="search" placeholder="Search" aria-label="Search" />
    <hr />
    <div *ngFor="let post of posts | postFilter:filterText" class="media text-muted pt-3">
      <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded" />
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">@user-{{ post.userId }}: {{ post.title | uppercase }}
          <span (click)="likePost(post)" class="badge badge-success">Like</span>
        </strong>

        {{ post.body }}
      </p>
    </div>

    <small class="d-block text-right mt-3">
      <a href="#">All updates</a>
    </small>
  </div>
</main>
